body {
  font: 100%/1.5 system-ui;
  max-width: 120ch;
  margin-inline: auto;
  padding: 5ch;
}

img {
  max-width: 50ch;
  padding-right: 2ch;
}

ul {
  display: contents;
}

li {
  display: contents;
}

nav {
  display: flex;
  margin-bottom: 0.25em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  --border-color: oklch(50% 10% 200 / 40%);
  border-bottom-color: var(--border-color);
}

a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

html {
  --color-accent: oklch(65% 50% 0);
  accent-color: var(--color-accent);
  border-bottom-color: oklch(50% 10% 200 / 40%);
  color-scheme: dark;
}

input {
  font: inherit;
}

textarea {
  font: inherit;
}

button {
  font: inherit;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

a:hover {
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: var(--color-accent);
  padding-bottom: 0.1em;
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

.current {
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: oklch(80% 3% 200);
  padding-bottom: 0.1em;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}

article {
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 1em;
  word-wrap: break-word;
}

article h2 {
  margin: 0
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1; 
  text-wrap: balance;
}

h1 {
  font-size: 400%;
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
}

#profile-stats dl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; 
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

#profile-stats dt {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #7a7a7a; 
  grid-row: 1;
}

#profile-stats dd {
  font-size: 24px;
  font-weight: bold;
  grid-row: 2;
  margin: 0; 
}

article img {
  max-width: 100%
}

#projects-plot {
  max-width: 20em;
  margin-block: 2em;
  overflow: visible;
}

.legend {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  border: 2px solid #aaa;
  padding: 1em;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.swatch {
  background-color: var(--color);
  display: inline-block;
  border-radius: 50%;
  width: 1em;
  height: 1em;
}

path {
  transition: 300ms;
  cursor: pointer;
}

svg:has(path:hover) {
  path:not(:hover) {
    opacity: 0.5;
  }
}

.selected {
  --color: oklch(60% 45% 0) !important;
}

.selected:is(path) {
  fill: var(--color);
}

.stats {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px 20px;
  max-width: 600px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.stats dt {
  font-weight: bold;
  text-transform: uppercase;
  color: #666;
  font-size: 12px;
}

.stats dd {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: #111;
}

.stats abbr {
  text-decoration: none;
  border-bottom: 1px dotted #666;
  cursor: help;
}

dl.tooltip {
  position: fixed;
  top: 1em;
  left: 1em;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 8px 12px;
  backdrop-filter: blur(5px);
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

dl.info {
  display: grid;
  grid-template-columns: auto auto;
  gap: 4px 8px;
  margin: 0;
  transition-duration: 500ms;
  transition-property: opacity, visibility;
}

dl.info[hidden]:not(:hover, :focus-within) {
  opacity: 0;
  visibility: hidden;
}

dt {
  font-weight: bold;
  color: gray;
}

dd {
  margin: 0;
}

circle {
  transition: transform 0.5s ease;
  transform-origin: center;
  transform-box: fill-box;
}

circle:hover {
  transform: scale(1.5);
}

.selection {
  fill-opacity: 0.1;
  stroke: black;
  stroke-opacity: 0.7;
  stroke-dasharray: 5 3;
  animation: marching-ants 2s linear infinite;
}

.gridlines {
  opacity: 0.1;
}

.files > div {
  grid-column: 1 / -1;
  display: grid;
}

.files dt {
  grid-column: 1;
  font: 100%/2 system-ui;
  border-bottom: 2px solid darkgray;
}

.line {
  display: flex;
  width: 0.5em;
  aspect-ratio: 1;
  border-radius: 50%;
}

dd {
  grid-column: 2 / -1;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  align-content: start;
  gap: 0.15em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  margin-left: 0;
}

#scrollytelling, #file-sizes-scrollytelling {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
  gap: 0 1.5rem;
}

#scroll-container, #file-sizes-scroll-container {
  position: relative;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
  border: 1px solid #ccc;
  margin-bottom: 50px;
}

#scroll-container {
  height: 350px;
}

#file-sizes-scroll-container {
  height: 500px;
}

#chart, #file-chart {
  position: sticky;
  top: 2rem;
  align-self: flex-start;
  transition: transform 0.3s ease;
}

#spacer, #file-sizes-spacer, #items-container, #file-sizes-items-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#spacer, #file-sizes-spacer {
  background: none;
  pointer-events: none;
}

.item {
  padding: 10px;
  height: 30px;
  min-height: 110px;
  box-sizing: border-box;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

@starting-style {
  r: 0;
}

