h1 {
	text-align: center;
}
  
li {
    margin-bottom: 8px;
}
  
.section {
    margin-bottom: 16px;
}
  
.contact-info a {
    color: #309ae1;
    text-decoration: none;
}
  
.contact-info a:hover {
    text-decoration: underline;
}